.grid {
  display: flex;
  flex-flow: row wrap;
}

body {
  margin: 0;
}

$breakpoints: (
        xs: 32rem,
        sm: 48rem,
        md: 72rem,
        lg: 96rem,
        xl: 102rem,
        xx: 120rem
);

$items: 12;

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .grid .gridItem--#{$key}-span-#{$i} {
      @include break($key) {
        flex: 0 0 #{($i / $items * 96)+"%"};
        padding: #{($i / $items * 2)+"%"};
      }
    }
    .gridItem--#{$key}-span-#{$i} {
      flex: 0 0 96%;
      padding: 2%;
    }

  }
}